*{
	margin: 0;
	padding: 0;
}
html
{
	height: 100%;
}
@font-face 
{
font-family: myFirstFont;
src: url(../dodger.ttf);
}
	#pLogo
	{
		text-align: center;
		background-color: 	rgb(232,232,232) ;
	}
	#logo
	{
		height: 400px;
		box-shadow: 0px 0px 50px black;
		border-radius: 50px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
/**************************************************/
nav
{
	background-color: rgb(166, 166, 166);
	list-style-type: none;
	overflow: hidden;	
	font-family: myFirstFont;
}
	li
	{
		float: left;	
	}
		li a
		{
			font-size: 30px;
			display: inline-block;
			color: white;
			text-align: center;
			text-decoration: none;
			padding: 10px 20px;
			border-right: 1px solid white;
		}
			li a:hover
			{
				background-color: rgb(102, 153, 255);
			}
#section1
{
	background-color: #C8C8C8;
	position: absolute;
	width:32%;
	left: 40%;
}
	#h11, #h12
	{
		text-align: center;
		color: rgb(102, 153, 255);
		border-bottom: 3px solid black;
	}
		#p1
		{
			font-size: 20px;
		}
#section2
{
	border: 3px solid black;
	margin-top: 10px;
}